In [1]:
import sqlite3
import json

In [2]:
table = """ CREATE TABLE Tweets
(
    created_at DATE,
    id_str NUMBER(50),
    text VARCHAR(300),
    source VARCHAR(200),
    in_reply_to_user_id VARCHAR(50),
    in_reply_to_screen_name VARCHAR(50),
    in_reply_to_status_id VARCHAR(50),
    retweet_count NUMBER(30),
    contributors VARCHAR(50),
    CONSTRAINT TweetPK
    PRIMARY KEY(id_str)
);
"""

In [3]:
conn = sqlite3.connect('dsc450_part3.db')#connecting to database
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS Tweets')
cursor.execute(table)

In [4]:
fd=open("../HW5/Assignment4.txt","r", encoding="utf8")
reader = fd.readline().split('EndOfTweet')

In [5]:
ins = "INSERT OR IGNORE INTO Tweets VALUES (?,?,?,?,?,?,?,?,?);"
fd.close()

In [6]:
for row in reader: # loading json objects, unicode to avoid syntax errors
    values = json.loads(row)
    value = (values.get(u'created_at'),
            values.get(u'id_str'),
            values.get(u'text'),
            values.get(u'source'),
            values.get(u'in_reply_to_user_id'),
            values.get(u'in_reply_to_screen_name'),
            values.get(u'in_reply_to_status_id'),
            values.get(u'retweet_count'),
            values.get(u'contributors'))
    cursor.execute(ins,value)

In [7]:
result=cursor.execute("SELECT * FROM Tweets LIMIT 5; ").fetchall()

In [9]:
print("SELECT * FROM Tweets LIMIT 5; ")
for r in result:
    print(str(r)+'\n')

SELECT * FROM Tweets LIMIT 5;
('Tue Nov 05 00:00:04 +0000 2013', 397513609711874048, 'JUST GOT HOME AND SAW WE BROKE THE VEVO RECORD! IF YOU HELPED I LOVE YOU', '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', None, None, None, 0, None)

('Tue Nov 05 00:00:04 +0000 2013', 397513609732845568, 'We are here to play tough cricket: Richardson http://t.co/qNFIdXma8h', '<a href="http://scoop.so" rel="nofollow">SCOOP Hot News India</a>', None, None, None, 0, None)

('Tue Nov 05 00:00:04 +0000 2013', 397513609732816896, 'I really love kids, always have always will.', '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', None, None, None, 0, None)

('Tue Nov 05 00:00:04 +0000 2013', 397513609728651265, 'RT @ertiaraa: RT @MeilindaMP: somebody that i used to know', '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', None, None, None, 0, None)

('Tue Nov 05 00:00:04 +0000 2013', 397513609741221888, "RT @Harry_Styles: So that's it.", '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>', None, None, None, 0, None)

In [10]:
conn.commit()
conn.close()