In [1]:
import sqlite3

In [2]:
table = """ CREATE TABLE Chauffeurs
(
    License_Number NUMBER(10),
    Renewed DATE,
    Status VARCHAR(20),
    Status_Date DATE,
    Driver_Type VARCHAR(20),
    License_Type VARCHAR(20),
    original_issue_date Date,
    Name VARCHAR(50),
    SEX VARCHAR(5),
    Chaeffeur_city VARCHAR(20),
    Chaeffeur_state VARCHAR(20),
    Record_number VARCHAR(20) NOT NULL UNIQUE,
    CONSTRAINT RecordPK,
    PRIMARY KEY(Record_number)
    );
"""

In [3]:
conn = sqlite3.connect('dsc450.db')#connecting to database
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS Chauffeurs')
cursor.execute(table)

In [4]:
ins = "INSERT OR IGNORE INTO Chauffeurs VALUES (?,?,?,?,?,?,?,?,?,?,?,?);"

In [5]:
fd = open("../HW5/Public_Chauffeurs_Short_hw3.csv","r")# open file

In [11]:
import csv #import csv
reader = csv.reader(fd)
next(reader)#skip the header

In [8]:
for row in reader:
    cursor.execute(ins,row)
output = cursor.execute("SELECT * FROM Chauffeurs LIMIT 5; ")
result = output.fetchall()

In [10]:
print("SELECT * FROM Chauffeurs LIMIT 5; ")
for r in result:
    print(str(r)+'\n')

SELECT * FROM Chauffeurs LIMIT 5;
(103344, 'NULL', 'DENIED', '03/21/2014', 'Livery Only', 'NULL', 'NULL', 'ABDALLAH ATIEH', 'MALE', 'TINLEY PARK', 'IL', '14-00367283')

(101721, 'NULL', 'INACTIVE', '10/02/2014', 'Taxi', 'NULL', 'NULL', 'ABDIRISAK I ABDI', 'MALE', 'CHICAGO', 'IL', '14-01682108')

(101711, 'NULL', 'INACTIVE', '10/02/2014', 'Taxi', 'NULL', 'NULL', 'ZHENGQIANGU FU', 'MALE', 'CHICAGO', 'IL', '14-01682846')

(101710, 'NULL', 'INACTIVE', '10/02/2014', 'Taxi', 'NULL', 'NULL', 'ROBERT LEE ROSS', 'MALE', 'CHICAGO', 'IL', '14-01682727')

(101709, 'NULL', 'INACTIVE', '10/02/2014', 'Taxi', 'NULL', 'NULL', 'ABDIRAHIM ABDULLAHI HAJI', 'MALE', 'CHICAGO', 'IL', '14-01682591')

In [12]:
conn.commit()
conn.close()

In [45]:
Student_db = { 
    "student": [ 
    { "sid": 1, 
    "fname": "Jack", 
    "degree": "grad"}, 
    
    { "sid": 2, 
    "fname": "Jane", 
    "degree": "Ugrad"}, 
    
    { "sid": 3, 
    "fname": "Karen", 
    "degree": "grad"}, 
    
    { "sid": 4, 
    "fname": "Jack", 
    "degree": "Ugrad"}
],
     
    "Course": [ 
    { "cid": 100, 
    "cname": "Intro to data", 
    "credits": 4},
    
    { "cid": 200, 
    "cname": "research col", 
    "credits": 2}
],
    
    "Enrollment": [ 
    { "sid": 1, 
    "cid": 100},
    
    { "sid": 1, 
    "cid": 200},
    
    { "sid": 2, 
    "cid": 300},
    
    { "sid": 4, 
    "cid": 200}
    ]
}

In [25]:
for stu in Student_db:
    if stu[]

100
200
100
200

In [71]:
for stu in Student_db['student']:
    for num in Student_db['Enrollment']:
        if stu['fname']=='Jack':
            print(stu['sid'])

4
4
4
4
4
4
4
4

In [73]:
for stu in Student_db:
    if stu[0]['fname']=='Jack':
        print(stu['sid'])

TypeError: string indices must be integers

In [59]:
lst

[4, 4]